<template>
   
  <div id="app" >
    <v-app  id="inspire">
      <v-navigation-drawer class="blue-grey darken-4"
        dark
        :width="200"
        fixed
        v-model="drawer"
        app
      >

       <v-toolbar flat class="transparent">
          <v-list class="pa-0">
            <v-list-tile >
              <v-list-tile-content>
                <img :width="150" src="https://www.approcks.com/newWebsite/images/logo2.png">
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-toolbar>

        <v-list dense >
          <v-list-tile >
            <v-list-tile-action>
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Boards</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          
        </v-list>
      </v-navigation-drawer>
      <v-toolbar color="blue-grey darken-4" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Boards</v-toolbar-title>
        <v-spacer></v-spacer>
         <router-link :to="{ path: 'logout' }" tag="span">
          <v-btn icon dark>
            <v-icon>power_settings_new</v-icon>
          </v-btn>
         </router-link>
      </v-toolbar>

      <v-content>

        <v-container class="ma-0 pa-0">
          <v-layout row wrap>
            <v-flex grow pa-1 v-for="board in boards" :key="board.id">

              <router-link style="cursor: pointer" :to="{name:'SingleBoard',params:{id:board.id}}" tag="span">

                <v-card dark color="green darken-1">
                  <v-card-text>{{board.name}}</v-card-text>
                </v-card>

              </router-link>
            </v-flex>
            <v-flex md3>
                <v-card>
                  <v-card-title class="gray">
                    <v-text-field  @click.stop v-model="BoardName" label="Board Name" v-if="editMode" @keyup.enter="storeBoard"></v-text-field>
                    <v-btn flat small @click.stop="editMode=true" v-else>Add a Board...</v-btn>
                  </v-card-title>
                </v-card>
            </v-flex>
          </v-layout>

        </v-container>

      </v-content>

      <v-footer color="blue-grey darken-4" app inset>
        <span class="white--text">  </span>
      </v-footer>
    </v-app>
</div>

      
</template>


<script>

  import boardDataMixin from '../mixins/boardDataMixin';

  export default {
  
  data() {
    return {
      drawer: true,
      boards : '',
      BoardName:'',
      editMode:false,
    }
  },
  mounted () {
    this.fetchBoardsData();
  },

  mixins:[boardDataMixin],

}
</script>

