<template>
   
    <div id="app">
      
      <v-toolbar app>
          <v-toolbar-title class="headline text-uppercase">
            <span>To-Do List</span>
            <span class="font-weight-light"> Approcks</span>
          </v-toolbar-title>
          <v-spacer></v-spacer>
            <router-link to="/login" tag="span"><v-btn flat> Login</v-btn></router-link>
            <router-link to="/register" tag="span"><v-btn flat> Register</v-btn></router-link> 
      </v-toolbar>

        <v-content>
          <v-container fluid fill-height>
            <v-layout align-center justify-center>
              <v-flex xs12 sm8 md6>
                <v-card class="elevation-12">
                  <v-toolbar dark color="primary">
                    <v-toolbar-title>Login Form</v-toolbar-title>
                    <v-spacer></v-spacer>
                    
                  </v-toolbar>
                  <v-card-text>
                    <v-form>
                      <v-text-field prepend-icon="mail" v-model="login.email"  label="Email" type="email"></v-text-field>
                      <v-text-field prepend-icon="lock" v-model="login.password"  label="Password" type="password"></v-text-field>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="loginBtn">Login</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
    </div>

      
</template>


<script>
import axios from 'axios';
  export default {
    data() {
      return {
          login:{
              email :"",
              password :"",
          }
      }
    },
    methods:{
      loginBtn(){
        axios.post('login', this.login)
        .then(response => {
          
            let token = response.data.user.api_token;

            window.token=token;

            localStorage.setItem('token',token);

            window.axios.defaults.params={api_token:token}

            this.$router.push('/boards'); 
            
        });
    } 
  }
}
</script>