<template>
   
  <div id="app" >
    <v-app  id="inspire">
      <h2>You Are Logout</h2>
    </v-app>
</div>

      
</template>


<script>
import axios from 'axios';

  export default {
  created () {
    let token = localStorage.getItem('token');
    axios.get("logout?api_token="+token)
    .then(
        localStorage.removeItem('token'),
        this.$router.push('/login') 
    );
  }
}
</script>


