<template>
   
  <div id="app" @click="editMode=false; updateListId=null">
    <v-app>
     
      <v-toolbar color="blue-grey darken-4" dark fixed app>
         <router-link to="/boards" tag="span">
           <v-toolbar-title>Boards</v-toolbar-title>
        </router-link>
        <v-spacer></v-spacer>
        <router-link to="/logout" tag="span">
          <v-btn icon dark>
            <v-icon>power_settings_new</v-icon>
          </v-btn>
         </router-link>
      </v-toolbar>

      <v-content>
        
      <h2> {{board.name}} </h2>

        
        <v-container class="ma-0 pa-0" grid-list-md fluid>
          <v-layout row wrap>
            <v-flex md3 v-for="list in lists" :key="list.id">
              <v-card class="gray lighten-2">
                <v-toolbar class="green white--text" dark dense>
                  <v-text-field @click.stop v-model="listName" label="List Name" v-if="updateListId==list.id" @keyup.enter="updateList"></v-text-field>
                  <v-toolbar-title  @click.stop="updateListId=list.id" v-else>{{list.name}}</v-toolbar-title>
                   <v-spacer></v-spacer>

                   <v-menu>
                      <v-btn icon slot="activator">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile @click.stop="deleteList(list.id)">
                          Delete
                        </v-list-tile>
                      </v-list>
                   </v-menu>
                </v-toolbar>

              <board-card :list="list"></board-card>
                
              </v-card>
            </v-flex>
          
            <v-flex md3>
                <v-card>
                  <v-card-title class="gray">
                    <v-text-field  @click.stop v-model="listName" label="List Name" v-if="editMode" @keyup.enter="storeList"></v-text-field>
                    <v-btn flat small @click.stop="editMode=true" v-else>Add a list...</v-btn>
                  </v-card-title>
                </v-card>
            </v-flex>

          </v-layout>
        </v-container>

      </v-content>

      <v-footer color="blue-grey darken-4" app inset>
        <span class="white--text">  </span>
      </v-footer>
    </v-app>
</div>

      
</template>


<script>

import BoardCard from './BoardCard.vue';
import axios from 'axios';

export default {
  
  data() {
    return {
      boards:'',
      board:'',
      lists:'',
      cards:'',
      boardId:'',
      listName:'',
      editMode:false,
      updateListId:"",
      deleteListId:"",
    }
  },

  components:{
    'board-card':BoardCard
  },

  created () {
    this.boardId = this.$route.params.id;
    this.fetchBoardsData();
  },

  methods : {
    getLists(){
      this.boards.map((board)=> {
        if (board.id == this.boardId) {
          this.board=board;
          return this.lists = board.lists;
        }
      })
    },

    storeList(){
      this.editMode=false;
      axios.post("boards/"+this.boardId+"/list?api_token="+token,{name:this.listName})
          .then(response => {
            let newList = response.data.list;
            this.lists.push(newList);
            this.listName='';
      });
    },

    updateList(){
      axios.put("boards/"+this.boardId+"/list/"+this.updateListId+"/?api_token="+token,{name:this.listName})
          .then(response => {
            this.updateListId=null;
            this.listName='';
            this.fetchBoardsData();
      });
    },

    deleteList(listId) {
      axios.delete("boards/"+this.boardId+"/list/"+listId+"/?api_token="+token)
          .then(response => {
            this.fetchBoardsData();
      });
    },

    fetchBoardsData() {
          if (! token ) {this.$router.push('/login'); }
           axios.get("boards?api_token="+token)
          .then(response => {
            this.boards = response.data.boards;
            this.getLists();
          });
        }
  }


}
</script>
