<template>
  <v-app>
    

  <main>

    <v-container>
      <router-view></router-view>
    </v-container>

  </main>
    
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
// import Login from './components/Login'
  import boardDataMixin from './mixins/boardDataMixin';
  import axios from 'axios';

export default {
  name: 'App',
  components: {

},
  data () {
    return {
      user:''
    }
  },
  created () {
    let token = localStorage.getItem('token');
    if (! token ) {
      this.$router.push('/login'); 
    }
    this.fetchUserData();
  },

  mixins:[boardDataMixin],

  methods :{
    fetchUserData() {
      let apiUrl = 'http://localhost:8000/';
      let token = localStorage.getItem('token');
      axios.get(apiUrl+"users/"+token)
      .then(response => {
          this.user = response.data.user;
      });
    }
  }
}
</script>
